@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Los Angeles County Metropolitan Transportation Authority<br />
    One Gateway Plaza<br />
    Los Angeles, CA 90012-2952<br />
    <abbr title="Phone">P:</abbr>
    323.GO.METRO (323.466.3876)
</address>

<address>
    <strong>Customer Relations:</strong>   <a href="mailto:customerrelations@metro.net">customerrelations@metro.net</a><br />
</address>